/** @format */
@font-face {
  font-family: "mBankBold";
  src: url("fonts/mBankLite-Bold.ttf");
}
@font-face {
  font-family: "mBankLight";
  src: url("fonts/mBankLite-Light.ttf");
}
@font-face {
  font-family: "mBankRegular";
  src: url("fonts/mBankLite-Regular.ttf");
}
@font-face {
  font-family: "mBankSemiBold";
  src: url("fonts/mBankLite-SemiBold.ttf");
}
body {
  margin: 20px;
}

.wrapper {
  max-width: 1250px;
  margin: auto;
}

.header {
  display: flex;
}

.sub-logo {
  font-family: "mBankBold";
  font-size: 27px;
  margin: auto 0;
  margin-left: 18px;
  padding-top: 5px;
}

.main {
  font-family: "mBankBold";
  display: flex;
  flex-direction: row;
}

.main-h1 {
  font-size: 39px;
  margin-top: 50px;
  letter-spacing: -1.6px;
}
.sub-h1 {
  font-size: 27px;
  margin-top: 10px;
  font-family: "mBankBold";
  letter-spacing: -1.6px;
}
.price-span {
  color: #ac060f;
  font-size: 50px;
}
.list-header {
  font-size: 27px;
  margin-top: 25px;
}
.list-ul {
  list-style-type: square;
}
.list-li {
  font-size: 23px;
  margin-top: 15px;
  font-family: "mBankRegular";
}
.li-bold {
  font-family: "mBankBold";
}
li::marker {
  color: #ac060f;
  font-size: 30px;
}
.btn-cta {
  margin-top: 40px;
  background-color: #ac060f;
  color: white;
  font-family: "mBankBold";
  font-size: 20px;
  border-radius: 50px;
  border: none;
  padding: 12px 0 15px 0;
  width: 339px;
  font-size: 20px;
}
.btn-cta:hover {
  background-color: #d42c35;
}
.illustration {
  position: relative;
}
.car-img {
  position: absolute;
  width: auto;
  height: 630px;
  top: -80px;
}

.footer {
  margin: 80px 0 40px 7px;
  color: #888787;
  font-family: "mBankRegular";
  font-size: 14px;
}
