/** @format */
@font-face {
  font-family: "mBankBold";
  src: url("fonts/mBankLite-Bold.ttf");
}
@font-face {
  font-family: "mBankLight";
  src: url("fonts/mBankLite-Light.ttf");
}
@font-face {
  font-family: "mBankLite-Regular";
  src: url("fonts/mBankLite-Regular.ttf");
}
@font-face {
  font-family: "mBankSemiBold";
  src: url("fonts/mBankLite-SemiBold.ttf");
}

.wrapper {
  max-width: 1250px;
  margin: auto;
}

.header {
  display: flex;
}

.sub-logo {
  font-family: "mBankBold";
  font-size: 27px;
  margin: auto 0;
  margin-left: 18px;
  padding-top: 5px;
}
